<h1>Weather</h1>

<%= form_tag ('/locate') do %>

     <%= label_tag :zip %>
     <%= text_field_tag :zip, "",  placeholder: "Enter Zip Code" %>
     <%= submit_tag "Get Weather" %>

 <%end%>


<h3>Recent Conditions</h3>
  <% @entries.each do |entry|%>
    <li><%= entry.zip %></li>
  <% end %>
</div>
