<!DOCTYPE html>
<html>
  <head>
    <title>ZipWeather</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div id="messages">
        <%= render 'layouts/messages' %>
      </div>
      <div id="yield">
        <%= yield %>
      </div>
      <div id="footer">
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
